public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration

public net.minecraft.client.particle.ParticleEngine register(Lnet.minecraft.core.particles.ParticleType;Lnet.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration;)V
#public com.mojang.blaze3d.vertex.BufferBuilder beginElement(Lcom.mojang.blaze3d.vertex.VertexFormatElement;)J #this does not seem to work in 1.21.1.

public net.minecraft.client.player.LocalPlayer handsBusy
